# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MLflow / MLOps
mlruns/
artifacts/
.dagshub/

# Data
data/
*.csv
*.joblib
*.pkl

# Environments
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/
.history/
